font-family = "BerkeleyMono Nerd Font Mono"
font-family = "Sarasa Mono SC"
# font-family = "Maple Mono NF CN"
window-title-font-family = "Maple Mono"
font-size = 15

keybind = global:cmd+shift+`=toggle_quick_terminal

background-opacity = 0.93
background-blur-radius = 21

window-height = 63
window-width = 201
window-padding-color = extend
window-colorspace = display-p3

theme = Espresso
# theme = "catppuccin-mocha"
# theme = "Chalkboard"
# theme = "OneHalfDark"

title = "👻"
macos-titlebar-style = native
macos-titlebar-proxy-icon = hidden
macos-option-as-alt = left
keybind = shift+enter=text:\n
macos-icon = chalkboard
